---
sitemap: false
---

@import "tailwindcss";
@import "codemirror";
@import "codemirror-theme";

.CodeMirror {
  height: 100% !important;

  @media screen and (max-width: 768px) {
    height: 200px !important;
  }
}

